.menu {
    list-style-type: none;
   
   margin-left: 1%;
   margin-right: 2%;
    line-height: 2;
    
  }
  ul li a{
    text-decoration: none;
  }
  ul li{
    display:inline;
    margin-right: 30px;
  }
  